/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*End Css Reset*/

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

/* End Clear fix */


/*fonts*/

@font-face {
    font-family: 'pixelmixregular';
    src: url('fonts/pixelmix-webfont.eot');
    src: url('fonts/pixelmix-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/pixelmix-webfont.woff2') format('woff2'),
         url('fonts/pixelmix-webfont.woff') format('woff'),
         url('fonts/pixelmix-webfont.ttf') format('truetype'),
         url('fonts/pixelmix-webfont.svg#pixelmixregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
html, body{
  width: 100%;
  height: 100%;
  overflow: hidden;
}


body{
  font-family: 'pixelmixregular', sans-serif;
  background: #008001;
  border: groove 4px #C0C0C0;
  box-sizing: border-box;
  font-size: 16px;
}


/* Text Styling */
h1{

}

h2{
  color: #fff;
  margin: 0 0 14px 0 ;
  font-size: .875em;

}


/* Layout */

header{
  width: 100%;
  height: 50px;
}


  header h1{
    display: block;
    width: 100%;
    height: 50%;
    font-size: .875em;
    padding: 5px;
    box-sizing: border-box;
    color: #fff;
    background: linear-gradient(to right,  rgba(0,1,128,1) 0%,rgba(16,132,207,1) 100%); /* W3C */

  }

  header .grey{
    display: block;
    width: 100%;
    height: 50%;
    background: #C0C0C0;
  }

.wrapper{
 padding: 50px;
}



  /*Player*/
  .player-wrapper
  {
    margin: 100px 0 0 150px ;
    position: relative;
  }


    .player-controls{
      position: absolute;
      top: -5;
      left: 100px;
      z-index: 1000;
    }

    button{
      background: grey;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
      color: #fff;
    }

  /*Dealer*/

  .dealer-hand-container{
    margin: 40px 0 0 70px;
  }


     .card:first-of-type{
      margin: 0 20px 0 20px;
    }


.card, .pira {
  float: left;
  width: 72px;
  height: 98px;
  margin-right: 20px;
  background: transparent;
}



  .card div{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    position: relative;
    background-image: url('../img/card-fronts.png');
  }

    .pira{
    background: #fff;
    border: 1px solid black;
    background: url('../img/piraCard.jpg');
    background-repeat: no-repeat;
    background-position: center center;
  }


  .card .clubs{
  }

  .card .hearts{
    background-position-y: -98px;
  }

  .card .spades{
    background-position-y: -196px ;
  }

  .card .diamonds{
    background-position-y: -294px;
  }

.num-2{
        background-position-x: -74px;
}
.num-3{
        background-position-x: -148px;
}
.num-4{
        background-position-x: -221px;
}
.num-5{
        background-position-x: -294px;
}
.num-6{
        background-position-x: -367px;
}
.num-7{
        background-position-x: -439px;
}
.num-8{
        background-position-x: -513px;
}
.num-9{
        background-position-x: -586px;
}
.num-10{
        background-position-x: -659px;
}
.num-jack{
        background-position-x: -732px;
}
.num-queen{
        background-position-x: -805px;
}
.num-king{
        background-position-x: -878px;
}
.num-ace{
        background-position-x: -2px;
}


.card.covered div {
  background-image: url('../img/card-palm-bg.png');
  background-position: 0 0;
}

.hand {
  overflow: auto;
}


/*footer*/
.score-bar{
  position: absolute;
  bottom: 0;
  height: 25px;
  width: 100%;
  background: #fff;
  color: #000;
  border-bottom: groove 4px #C0C0C0;
  border-right: groove 4px #C0C0C0;
  box-sizing: border-box;
}

.game-over{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  text-align: center;
}

.game-over h1{
  margin: 45% 0 0 0;
  font-size: 8em;
  color: #000;
}



